.googleimage{
	margin-top: 100px;
	margin-left: 25%;
	margin-right: 25%;
}
.searchbar{
	margin-top: 100px;
	margin-left: 45%;
	margin-right: 45%;

}
input{
height: 25px; width: 170px;
border-style: inset
}